footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 0 150px 0;
    margin-top: 200px;

    .footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        ul {
            h2 {
                color: white;
                cursor: pointer;
            }
            li {
                a {
                    opacity: .7;
                    color: white;
                    font-size: 18px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}